@font-face {
  font-family: "Patrick Hand";
  src: url("font/PatrickHand-Regular.ttf") format("truetype");
}
body {
  font-family: 'Patrick Hand', sans-serif;
  background:#fafafa;
  color:#607d8b;
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}
header {
    /* width: 100%; */
    /* display: block; */
    /* text-align: center; */
    line-height: 1;
    width: 300px;
}
h1 {
  font-size: 60px;
}
.subtitle,h2, h3 {
  padding: 0;
  font-size: 14px;
  z-index: 1;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #607d8b;
  cursor: pointer;
}
#previewAnimationsBox {
    width: 866px;
    height: 260px;
    margin: 20px;
    padding: 5px 0;
    display: block;
    font-weight: bold;
    position: sticky;
    top: 30px;
    right: auto;
    left: auto;
    background: #fafafa;
    float: left;
  /*border-radius: 15px;*/
       border-top:  1px solid #607d8b;
  border-bottom:  1px solid #607d8b;

}
#preview {
  float: left;
  margin-left: 20px;
}
.advanced {
  line-height: 1;
  border: 1px solid #607d8b;
}
#chooser {
    width: 100%;
    min-width: 0;
    padding-left: 0;
    float: left;
    font-size: 12px;
}
#chooser li.hasPreview {
  padding: 5px;
  min-width:60px;

}
ul>li li{
  cursor: auto;

}
#chooser>ul>li>ul>li {
  padding-left: 0;
  text-indent: 0;
  text-align:center;
  /* display: inline-block; */
}
#chooser>ul {
  height: auto!important;}
#chooser>ul>li {
  border: 1px solid #607d8b;
  padding: 5px;
  margin-top: -1px; 
  font-size: 16px;
  text-transform: uppercase;
}
ul>li li label {
  /*cursor: pointer;*/
  border: 1px solid #607d8b;
  display: inline-block;
  border-radius: 5px;
  margin:5px 0;
  padding: 0 5px;
}
ul>li li input:checked + label {
    background: #607d8b;
    color: #fff;
}
ul>li li input[type="radio"]{
/*  opacity: 0;
  position: fixed;
  width: 0;*/
  cursor: pointer;
}
#chooser>ul>li>.expanded:after, #chooser>ul>li>ul>li>.expanded:after {
  content: '-';
  float:right;
}
#chooser ul.hasPreview {
    text-align: center;
    
}
#chooser>ul>li>.condensed:after, #chooser>ul>li>ul>li>.condensed:after {
  content: '+';
  float:right;
}
#customizeChar {
  float: left;
  padding: 25px;
  /*box-shadow: inset 5px 0 13px 0px #607d8b;*/
  border-radius: 10px;
  max-width: 400px;
}
hr{
  border-top: 1px solid #607d8b;
}
li span {
  cursor: pointer;
}
ul>li li span {
  font-weight: bold;
  max-width: 80%;
}
ul>li li span label {
  border: none;
  max-width: 80%;
}
input[type="file"], input[type="text"] {
  cursor: pointer;
  border: 1px solid #607d8b;
  display: inline-block;
  border-radius: 5px;
  margin:5px 0;
  padding: 2px 5px;
  width: 220px;
  background: transparent;
  outline: none;
  color: #607d8b;
  font-family: 'Patrick Hand';
  font-size: 16px;
}

input[type="button"],
input[type="file" i]::-webkit-file-upload-button,
button,
.button {
  font-family: 'Patrick Hand';

  cursor: pointer;
  color: #fff;
  margin: 2px;
  outline: none;
  padding: 3px 10px;
  border: none;
  background: #607d8b;  
  border-radius: 5px;
  display: inline-block;
}
.options a{
  margin:  0 2px;
  padding: 2px 7px;
  /*border: 1px solid #607d8b;*/
  border-radius: 25px;
  /*box-shadow: 5px 0 5px 0px #607d8b;*/
  display: inline-block;
  z-index: 9;
}
.options a:hover {
  background: #607d8b;
  color: #fff;
}
.options a:active {
  transform: translateY(3px);
}
.options {
  position: sticky;
  top: 30px;
  padding: 15px 0;
  background: #fafafa;
  border-top:  1px solid #607d8b;
  border-bottom:  1px solid #607d8b;
}
span.arrow {
  position: absolute;
  top: 0;
  left: -46px;
  font-size: 43px;
}
#creditsText {
  background: transparent;
  border:  1px solid #607d8b;
  max-width: 80%;
  min-height: 200px;
  padding: 20px;
  margin: 30px;
  font-family: 'Patrick Hand', sans-serif;
  color:#607d8b;
}