@font-face {
  font-family: "Patrick Hand";
  src: url("font/PatrickHand-Regular.ttf") format("truetype");
}
body {
  font-family: 'Patrick Hand', sans-serif;
  background:antiquewhite;
  color:#947245;
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}
header {
    /* width: 100%; */
    /* display: block; */
    /* text-align: center; */
    line-height: 1;
    width: 300px;
}
h1 {
  font-size: 60px;
}
.subtitle,h2, h3 {
  padding: 0;
  opacity: .7;
  font-size: 14px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #947245;
  cursor: pointer;
}
#previewAnimationsBox {
    width: 256px;
    height: auto;
    margin: 50px 0 -130px 0;
    display: block;
    text-align: center;
    position: relative;
    top:auto;
    right: 0;
    left:auto;
}
.advanced {
  line-height: 1;
  border: 1px solid #947245;
}
#chooser {
    width: 100%;
    min-width: 0;
    padding-left: 0;
    float: left;
    font-size: 12px;
}
#chooser li.hasPreview {
  padding: 5px;
  min-width:60px;

}
ul>li li{
  cursor: auto;

}
#chooser>ul>li>ul>li {
  padding-left: 0;
  text-indent: 0;
  text-align:center;
  /* display: inline-block; */
}
#chooser>ul {
  height: auto!important;}
#chooser>ul>li {
  border: 1px solid #c8b193;
  padding: 5px;
  margin-top: -1px; 
  font-size: 16px;
  text-transform: uppercase;
}
ul>li li label {
  /*cursor: pointer;*/
  border: 1px solid #947245;
  display: inline-block;
  border-radius: 5px;
  margin:5px 0;
  padding: 0 5px;
}
ul>li li input:checked + label {
    background: #947245;
    color: #fff;
}
ul>li li input[type="radio"]{
/*  opacity: 0;
  position: fixed;
  width: 0;*/
  cursor: pointer;
}
#chooser>ul>li>.expanded:after, #chooser>ul>li>ul>li>.expanded:after {
  content: '-';
  float:right;
}
#chooser ul.hasPreview {
    text-align: center;
    
}
#chooser>ul>li>.condensed:after, #chooser>ul>li>ul>li>.condensed:after {
  content: '+';
  float:right;
}
#customizeChar {
  float: left;
  padding: 25px;
  border-right: 1px solid #c8b193;
  box-shadow: inset 5px 0 13px 0px #c8b193;
  border-radius: 10px;
  max-width: 400px;
}
hr{
  border-top: 1px solid #c8b193;
  opacity: .7;
}
li span {
  cursor: pointer;
}
ul>li li span {
  font-weight: bold;
  max-width: 80%;
}
ul>li li span label {
  border: none;
  max-width: 80%;
}
input[type="file"], input[type="text"] {
  cursor: pointer;
  border: 1px solid #947245;
  display: inline-block;
  border-radius: 5px;
  margin:5px 0;
  padding: 2px 5px;
  width: 220px;
  background: transparent;
  outline: none;
  color: #947245;
  font-family: 'Patrick Hand';
  font-size: 16px;
}

input[type="button"],
input[type="file" i]::-webkit-file-upload-button,
button,
.button {
  font-family: 'Patrick Hand';

  cursor: pointer;
  color: #fff;
  margin: 2px;
  outline: none;
  padding: 3px 10px;
  border: none;
  background: #947245;  
  border-radius: 5px;
  display: inline-block;
}
.options a{
  margin:  0 10px;
}
